<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Menetlevelek</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="onOpenModal2(null,'add')">Menetlevél hozzáadása <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<h1>AUTÓK LISTÁJA</h1>
<div class="container">
<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
  <tr>
    <th>ID</th>
    <th>Rendszám</th>
    <th>Szállítható Személyek</th>
    <th>szín</th>
    <th>Gyártási év</th>
    <th>Üzemanyagfogyasztás</th>
    <th>Össz ár</th>
    <th>Össz km</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let isauto of isautok" >
    <td> {{ isauto.id }} </td>
    <td> {{ isauto.rendszam }} </td>
    <td> {{ isauto.szallithatoSzemelyekSzama }} fő</td>
    <td> {{ isauto.szin }}</td>
    <td> {{ isauto.gyartasiEv }} </td>
    <td> {{ isauto.uzemanyagFogyasztas }}liter/100km </td>
    <td> {{isauto.osszar}}</td>
    <td> {{isauto.osszkm}}</td>
    <!--(click)="getAllAr(isauto.id)"-->
    <td><button (click)="onUpdateisautoAr(isauto.id)" button class="btn-u" type="button">Össz ár számolás</button></td>
    <td><button (click)="onUpdateisautoKm(isauto.id)" button class="btn-u" type="button">Össz kilométer számolás</button></td>
  </tr>
  </tbody>
</table>
</div>
<h1>MENETLEVELEK LISTÁJA</h1>
<div class="container"  id="main-container">
  <div class="row">
    <div *ngFor="let ismenetlevel of ismenetlevelek" class="col-md-6">
      <div class="card m-b-30">
        <div class="card-body row">

          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{ismenetlevel?.gepjarmuVezetoNeve}}</h5>
            <p class="m-0">{{ismenetlevel?.datumKezdo}}</p>
          </div>
        </div>

      <ul class="list-group list-group-flush">
          <li class="list-group-item" ><i class="asd">Sorszám: </i>{{ismenetlevel?.sorszam}}</li>
          <li class="list-group-item"><i class="asd">Honnan: </i>{{ismenetlevel?.honnan}}</li>
          <li class="list-group-item"><i class="asd">Hova: </i> {{ismenetlevel?.hova}}</li>
        <li class="list-group-item"><i class="asd">Kilométer: </i>{{ismenetlevel?.km}}</li>
        <li class="list-group-item"><i class="asd">Ár: </i>{{ismenetlevel?.ar}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a  (click)="onOpenModal(ismenetlevel, 'edit')"class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a  (click)="onOpenModal(ismenetlevel, 'delete')"class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
          <div class="float-left btn-group btn-group-sm">
            <a  (click)="onOpenModal(ismenetlevel, 'updatear')" button class="btn-u" type="button">Ár számolás</a>
          </div>
        </div>
      </div>
      </div>
    </div>

</div>
<!--add menetlevel --><
<div class="modal fade" id="addmenetlevelModal" tabindex="-1" role="dialog" aria-labelledby="addmenetlevelModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addmenetlevelModalLabel">Add Menetlevel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onISmenetlevel(addForm)">
          <div class="form-group">
            <label for="gepjarmuVezetoNeve">Vezető neve</label>
            <input type="text" ngModel name="gepjarmuVezetoNeve" class="form-control" id="gepjarmuVezetoNeve" placeholder="gepjarmuVezetoNeve" required>
          </div>
          <div class="form-group">
            <label for="datumKezdo">Dátum</label>
            <input type="text" ngModel name="datumKezdo" class="form-control" id="datumKezdo" placeholder="datumKezdo" required>
          </div>
          <div class="form-group">
            <label for="sorszam">Sorszam</label>
            <input type="number" ngModel name="sorszam" class="form-control" id="sorszam" placeholder="sorszam" required>
          </div>
          <div class="form-group">
            <label for="aid_id">Autó száma</label>
            <input type="Isauto" ngModel name="aid_id" class="form-control" id="aid_id" placeholder="aid_id" required>
          </div>
          <div class="form-group">
            <label for="honnan">Honnan</label>
            <input type="text" ngModel name="honnan" class="form-control" id="honnan" placeholder="honnan" required>
          </div>
          <div class="form-group">
            <label for="hova">Hova</label>
            <input type="text" ngModel name="hova" class="form-control" id="hova" placeholder="hova" required>
          </div>
          <div class="form-group">
            <label for="km">Kilometer</label>
            <input type="text" ngModel name="km" class="form-control" id="km" placeholder="km" required>
          </div>
          <div class="form-group">
            <label for="ar">Ár</label>
            <input type="number" ngModel name="ar" class="form-control" id="ar" placeholder="ar" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-menetlevel-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Edit Modal -->
<div class="modal fade" id="updatemenetlevelModal" tabindex="-1" role="dialog" aria-labelledby="updatemenetlevelModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updatemenetlevelModalLabel">Edit{{editMenetlevel?.sorszam}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="gepjarmuVezetoNeve">Vezető neve</label>
            <input type="text" ngModel="{{editMenetlevel?.gepjarmuVezetoNeve}}" name="gepjarmuVezetoNeve" class="form-control" id="gepjarmuVezetoNeveedit" placeholder="gepjarmuVezetoNeve" required>
          </div>
         <div class="form-group">
            <label for="datumKezdo">Dátum</label>
            <input type="text" ngModel="{{editMenetlevel?.datumKezdo}}" name="datumKezdo" class="form-control" id="datumKezdoedit" placeholder="datumKezdo" required>
          </div>
          <div class="form-group">
            <label for="sorszam">Sorszám</label>
            <input type="number" ngModel="{{editMenetlevel?.sorszam}}" name="sorszam" class="form-control" id="sorszamedit" placeholder="sorszam" required>
          </div>
          <div class="form-group">
            <label for="honnan">Honnan</label>
            <input type="text" ngModel="{{editMenetlevel?.honnan}}" name="honnan" class="form-control" id="honnanedit" placeholder="honnan" required>
          </div>
          <div class="form-group">
            <label for="hova">Hova</label>
            <input type="text" ngModel="{{editMenetlevel?.hova}}" name="hova" class="form-control" id="hovaedit" placeholder="hova" required>
          </div>
          <div class="form-group">
            <label for="km">Kilometer</label>
            <input type="text" ngModel="{{editMenetlevel?.km}}" name="km" class="form-control" id="kmedit" placeholder="km" required>
          </div>
          <div class="form-group">
            <label for="aid_id">Auto ID</label>
            <input type="Isauto" ngModel="{{editMenetlevel?.aid}}" name="aid_id" class="form-control" id="aid_idedit" placeholder="aid_id" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
            <button (click)=" onUpdateISmenetlevel(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deletemenetlevelModal" tabindex="-1" role="dialog" aria-labelledby="deletemenetlevelModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deletemenetlevelModalLabel">Delete Menetlevél</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete {{deleteMenetlevel?.sorszam}}???</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeleteISmenetlevel(deleteMenetlevel?.sorszam)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Update Prize Modal -->
<div class="modal fade" id="updatemenetlevelarModal" tabindex="-1" role="dialog" aria-labelledby="updatemenetlevelarModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updatemenetlevelarModalLabel">Update Menetlevél Ár</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Kiszámításra került a: {{editMenetlevelAr?.sorszam}} sorszámhoz tartozó menetlevélhez ára. </p>
        <div class="modal-footer">
          <button (click)="onUpdateISmenetlevelAr(editMenetlevelAr?.sorszam)" class="btn btn-danger" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>



